#overview-desktop-screen {
    align-items: flex-start;
    background-color: #f5f4ff;
    display: flex;
    height: 2422px;
    overflow: hidden;
    width: 1728px;
  }
  
  
  .flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 390px;
    margin-top: 32px;
    min-height: 2367px;
    width: 100%;
    overflow: hidden;
    float:right;
  }
  
  .flex-row-3 {
    align-items: flex-start;
    display: flex;
    margin-top: 16px;
    min-width: 1346px;
  }
  
  .overlap-group15 {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    margin-left: 16px;
    min-width: 720px;
    padding: 0 15px;
  }
  
  .flex-col-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    min-height: 100px;
    width: 347px;
  }
  
  .phone-container {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 19px;
    margin-top: 3px;
    min-width: 300px;
  }
  
  .phone-4 {
    letter-spacing: 1.28px;
    min-height: 19px;
    min-width: 114px;
  }
  
  .phone-5 {
    letter-spacing: 1.28px;
    margin-left: 72px;
    min-height: 19px;
  }
  
  .flex-row-4 {
    align-items: flex-start;
    display: flex;
    height: 34px;
    margin-left: 1px;
    margin-top: 15px;
    min-width: 314px;
  }
  
  .bonded {
    letter-spacing: 0;
    margin-left: 17px;
    min-height: 29px;
  }
  
  .place-2 {
    letter-spacing: 0;
    margin-left: 17px;
    min-height: 29px;
    min-width: 74px;
  }
  
  .rectangle-28 {
    align-self: flex-end;
    background-color: var(--chambray);
    border-radius: 10px;
    height: 29px;
    width: 29px;
  }
  
  .rectangle-34 {
    align-self: flex-end;
    background-color: #d1d5ff;
    border-radius: 10px;
    height: 29px;
    margin-left: 66px;
    width: 29px;
  }
  
  .tokenomics {
    letter-spacing: 0;
    min-height: 29px;
  }
  
  .overlap-group-6 {
    border: 13.6px solid var(--chambray);
    border-radius: 60px;
    height: 120px;
    margin-left: 199px;
    position: relative;
    width: 120px;
  }
  
  .percent-3 {
    color: var(--chambray);
    font-family: var(--font-family-urbanist);
    font-size: 27.2px;
    font-weight: 700;
    left: 19px;
    letter-spacing: 2.18px;
    position: absolute;
    top: 24px;
  }
  
  .place-3 {
    color: #00000080;
    font-family: var(--font-family-urbanist);
    font-size: 13.6px;
    font-weight: 700;
    left: 25px;
    letter-spacing: 0;
    position: absolute;
    top: 53px;
  }
  
  .ellipse-11 {
    height: 67px;
    left: -14px;
    position: absolute;
    top: -14px;
    width: 67px;
  }
  
  .overlap-group14 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    min-height: 174px;
    padding: 26px 18px;
    width: 435px;
  }
  
  .community-pool {
    letter-spacing: 0;
    margin-top: 5px;
    min-height: 29px;
  }
  
  .group-728 {
    display: flex;
    margin-top: 57px;
    width: 351px;
  }
  
  .address {
    height: 31px;
    letter-spacing: 2.08px;
    width: 349px;
  }
  
  .inflation {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    width: 149px;
  }
  
  .group-7282 {
    display: flex;
    flex-direction: column;
    height: 76px;
    margin-left: 19px;
    margin-top: 31px;
    width: 90px;
  }
  
  .percent-2 {
    height: 31px;
    letter-spacing: 2.08px;
    margin-top: 16px;
    width: 78px;
  }
  
  .inflation-1 {
    height: 29px;
    letter-spacing: 0;
    width: 86px;
  }
  
  .latest-blocks-1 {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    flex-direction: column;
    height: 797px;
    margin-top: 13px;
    width: 1336px;
  }
  
  .latest-blocks-tilte {
    display: flex;
    height: 21px;
    margin-left: 30.6px;
    margin-top: 36.1px;
    width: 1158.23px;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .height {
    height: 21px;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 0;
    width: 51px;
  }
  
  .time-1 {
    height: 21px;
    letter-spacing: 0;
    margin-left: 118.5px;
    margin-top: 0;
    width: 39px;
  }
  
  .proposer {
    height: 21px;
    letter-spacing: 0;
    margin-left: 287.4px;
    margin-top: 0;
    width: 69px;
  }
  
  .no-of-txs {
    height: 21px;
    letter-spacing: 0;
    margin-left: 322.8px;
    margin-top: 0;
    width: 77px;
  }
  
  .hash {
    height: 21px;
    letter-spacing: 0;
    margin-left: 144.5px;
    margin-top: 0;
    width: 39px;
  }
  
  .latest-blocks-item {
    align-items: flex-start;
    display: flex;
    height: 60.28px;
    margin-left: 16px;
    margin-top: 4px;
    min-width: 1313px;
  }
  
  .overlap-group-1 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    height: 60px;
    min-width: 1303px;
    padding: 13.8px 14.6px;
  }
  
  .x6s-ago {
    letter-spacing: 0;
    margin-left: 186px;
    margin-top: 0.33px;
    min-height: 21px;
    min-width: 51px;
  }
  
  .dgtize-stake {
    letter-spacing: 0;
    margin-left: 14px;
    margin-top: 0.33px;
    min-height: 21px;
    min-width: 99px;
  }
  
  .number {
    letter-spacing: 0;
    margin-left: 247px;
    margin-top: 0.33px;
    min-height: 21px;
    min-width: 9px;
  }
  
  .x34567efe34g6j7k85h {
    letter-spacing: 0;
    margin-left: 125px;
    margin-top: 0.33px;
    min-height: 21px;
    min-width: 167px;
  }
  
  .ellipse-8-5 {
    align-self: flex-end;
    background-color: #e5e5e5;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .phone {
    letter-spacing: 0;
    margin-top: 0.33px;
    min-height: 21px;
    min-width: 74px;
  }
  
  .overlap-group {
    align-items: center;
    background-color: var(--titan-white);
    display: flex;
    height: 60px;
    min-width: 1303px;
    padding: 13.8px 14.6px;
  }
  
  .ellipse-8-7 {
    align-self: flex-end;
    background-color: #732f8b;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .row1 {
    align-items: flex-start;
    display: flex;
    height: 60.28px;
    margin-left: 16px;
    margin-top: 18.6px;
    min-width: 1313px;
  }
  
  .ellipse-8 {
    align-self: flex-end;
    background-color: var(--roman);
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-3 {
    align-self: flex-end;
    background-color: #eb6ae6;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-6 {
    align-self: flex-end;
    background-color: #e05ca3;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-9 {
    align-self: flex-end;
    background-color: #dbff00;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-8 {
    align-self: flex-end;
    background-color: #00e0ff;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-2 {
    align-self: flex-end;
    background-color: #00dea3;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-1 {
    align-self: flex-end;
    background-color: #020073;
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .ellipse-8-4 {
    align-self: flex-end;
    background-color: var(--gray);
    border-radius: 15.93px;
    height: 32px;
    margin-left: 156px;
    width: 32px;
  }
  
  .flex-row-5 {
    align-items: flex-end;
    display: flex;
    height: 38px;
    margin-left: 5px;
    margin-top: 29px;
    min-width: 1314px;
  }
  
  .latest-blocks {
    color: var(--black);
    font-family: var(--font-family-urbanist);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0;
    min-height: 38px;
    min-width: 189px;
  }
  
  
  .flex-row-2 {
    align-items: flex-start;
    display: flex;
    margin-top: 16px;
    min-width: 1334px;
  }
  
  .apr {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    width: 149px;
  }
  
  .group-7281 {
    display: flex;
    flex-direction: column;
    height: 76px;
    margin-left: 17px;
    margin-top: 31px;
    width: 88px;
  }
  
  .text-1 {
    height: 31px;
    letter-spacing: 2.08px;
    margin-top: 16px;
    width: 84px;
  }
  
  .apr-1 {
    height: 29px;
    letter-spacing: 0;
    width: 43px;
  }
  
  .flex-row-item {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    margin-left: 16px;
    width: 351px;
  }
  
  .piechart {
    align-items: flex-start;
    display: flex;
    margin-left: 8px;
    margin-top: 40px;
    min-width: 97px;
  }
  
  .overlap-group-4 {
    border-radius: 47.5px;
    height: 95px;
    position: relative;
    width: 95px;
  }
  
  .percent {
    left: 21px;
    letter-spacing: 1.68px;
    position: absolute;
    top: 35px;
  }
  
  .ellipse-9 {
    border: 10px solid var(--chambray);
    border-radius: 47.5px;
    height: 95px;
    left: 0;
    position: absolute;
    top: 0;
    width: 95px;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-left: 16px;
    margin-top: 57px;
    width: 216px;
  }
  
  .online-voting-power {
    height: 29px;
    letter-spacing: 0;
    width: 214px;
  }
  
  .group-7328 {
    display: flex;
    margin-top: 12px;
    width: 192px;
  }
  
  .x36516m {
    height: 19px;
    letter-spacing: 1.28px;
    width: 66px;
  }
  
  .x36516m-1 {
    height: 19px;
    letter-spacing: 1.28px;
    margin-left: 10px;
    width: 66px;
  }
  
  .place-1 {
    height: 19px;
    letter-spacing: 0;
    margin-left: 10px;
    width: 34px;
  }
  
  .overlap-group13 {
    align-items: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    min-height: 174px;
    padding: 26px 19px;
    width: 435px;
  }
  
  .place {
    letter-spacing: 0;
    margin-top: 5px;
    min-height: 29px;
  }
  
  .piechart-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 43px;
    margin-top: 40px;
    min-width: 97px;
  }
  
  .overlap-group-5 {
    border: 10px solid #d1d6ff;
    border-radius: 47.5px;
    height: 95px;
    position: relative;
    width: 95px;
  }
  
  .percent-1 {
    left: 16px;
    letter-spacing: 1.68px;
    position: absolute;
    top: 25px;
  }
  
  .vector {
    height: 55px;
    left: 29px;
    position: absolute;
    top: -10px;
    width: 56px;
  }
  
  .details-1 {
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-left: 16px;
    margin-top: 57px;
    width: 181px;
  }
  
  .group-7328-1 {
    display: flex;
    margin-top: 12px;
    width: 125px;
  }
  
  .number-1 {
    height: 19px;
    letter-spacing: 1.28px;
    width: 27px;
  }
  
  .number-2 {
    height: 19px;
    letter-spacing: 1.28px;
    margin-left: 13px;
    width: 27px;
  }
  
  .out-of {
    height: 19px;
    letter-spacing: 0;
    margin-left: 10px;
    width: 42px;
  }
  
  .active-validators {
    height: 29px;
    letter-spacing: 0;
    width: 179px;
  }
  
  .flex-row-1 {
    align-items: flex-end;
    display: flex;
    height: 425px;
    margin-top: 55px;
    min-width: 1336px;
  }
  
  .flex-col-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 425px;
    width: 835px;
  }
  
  .title {
    color: var(--black);
    font-family: var(--font-family-urbanist);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 5px;
    min-height: 48px;
  }
  
  .live-line-chart-section {
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 364px;
    margin-top: 13px;
    width: 835px;
  }
  
  .chart {
    height: 344px;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    width: 813px;
  }
  
  .logo-2 {
    display: flex;
    height: 45px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 109px;
  }
  
  .asset-6-1 {
    height: 45px;
    margin-left: -0.2px;
    object-fit: cover;
    width: 47.01px;
  }
  
  .asset-7-1 {
    height: 25px;
    margin-left: 6px;
    margin-top: 10px;
    object-fit: cover;
    width: 56.1px;
  }
  
  .group-7277 {
    align-items: flex-end;
    display: flex;
    height: 77px;
    left: 669px;
    min-width: 138px;
    position: absolute;
    top: 0;
  }
  
  .flex-col-5 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    min-height: 77px;
    width: 110px;
  }
  
  .x568-24h {
    color: var(--black);
    font-family: var(--font-family-urbanist);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 16px;
    min-height: 23px;
    width: 110px;
  }
  
  .price {
    color: #2ec169;
    font-family: var(--font-family-urbanist);
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0;
    min-height: 38px;
    min-width: 69px;
  }
  
  .vector-2 {
    height: 10px;
    margin-bottom: 6px;
    width: 14px;
  }
  
  .overlap-group1 {
    height: 332px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 803px;
  }
  
  .rectangle-22 {
    background-color: var(--gray);
    height: 8px;
    left: 272px;
    position: absolute;
    top: 293px;
    width: 2px;
  }
  
  .text-3 {
    left: 258px;
    letter-spacing: 0.96px;
    position: absolute;
    top: 303px;
  }
  
  .rectangle-24 {
    background-color: var(--gray);
    height: 8px;
    left: 720px;
    position: absolute;
    top: 293px;
    width: 2px;
  }
  
  .path-4 {
    height: 321px;
    left: 519px;
    position: absolute;
    top: 6px;
    width: 2px;
  }
  
  .oval-8 {
    height: 35px;
    left: 503px;
    position: absolute;
    top: 96px;
    width: 35px;
  }
  
  .text-4 {
    left: 480px;
    letter-spacing: 0.96px;
    position: absolute;
    top: 303px;
  }
  
  .oval-8-copy {
    height: 79px;
    left: 481px;
    position: absolute;
    top: 70px;
    width: 79px;
  }
  
  .vector-1 {
    height: 2px;
    left: 2px;
    position: absolute;
    top: 292px;
    width: 801px;
  }
  
  .time {
    color: var(--ocean-blue-pearl);
    font-family: var(--font-family-urbanist);
    font-size: 13.2px;
    font-weight: 400;
    height: 18px;
    left: 512px;
    letter-spacing: -0.26px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    top: 285px;
    white-space: nowrap;
    width: 72px;
  }
  
  .text-5 {
    left: 704px;
    letter-spacing: 0.96px;
    position: absolute;
    top: 303px;
  }
  
  .rectangle-23 {
    background-color: var(--gray);
    height: 8px;
    left: 496px;
    position: absolute;
    top: 293px;
    width: 2px;
  }
  
  .overlap-group-3 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626b0c710186986aa7979309/releases/626b1c24448193fbd470e5d0/img/sell@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 70px;
    left: 500px;
    min-width: 134px;
    padding: 7.1px 17.6px;
    position: absolute;
    top: 0;
  }
  
  .oval-7 {
    background-color: var(--ocean-blue-pearl);
    border-radius: 4.4px;
    height: 9px;
    margin-top: 6.1px;
    width: 9px;
  }
  
  .price-1 {
    color: var(--ocean-blue-pearl);
    font-family: var(--font-family-urbanist);
    font-size: 17.6px;
    font-weight: 400;
    letter-spacing: 0.28px;
    margin-left: 9px;
    min-height: 21px;
  }
  
  .text-2 {
    left: 34px;
    letter-spacing: 0.96px;
    position: absolute;
    top: 303px;
  }
  
  .line-chart {
    height: 223px;
    left: 0;
    position: absolute;
    top: 109px;
    width: 803px;
  }
  
  .rectangle-21 {
    background-color: var(--gray);
    height: 8px;
    left: 48px;
    position: absolute;
    top: 293px;
    width: 2px;
  }
  
  .flex-col-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    min-height: 364px;
    width: 485px;
  }
  
  .market-cap {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    min-width: 485px;
    padding: 0 18px;
  }
  
  .group-7275 {
    display: flex;
    width: 342px;
  }
  
  .group-7274 {
    display: flex;
    flex-direction: column;
    height: 62px;
    margin-left: 23px;
    width: 182px;
  }
  
  .phone-1 {
    height: 23px;
    letter-spacing: 2.08px;
    margin-left: 2px;
    width: 176px;
  }
  
  .phone-2 {
    height: 23px;
    letter-spacing: 2.08px;
    margin-top: 16px;
    width: 176px;
  }
  
  .group-7273 {
    display: flex;
    flex-direction: column;
    height: 62px;
    width: 141px;
  }
  
  .market-cap-1 {
    height: 23px;
    letter-spacing: 0;
    width: 137px;
  }
  
  .x24th-vol {
    height: 23px;
    letter-spacing: 0;
    margin-left: 4px;
    margin-top: 16px;
    width: 119px;
  }
  
  .overlap-group12 {
    border-radius: 20px;
    height: 174px;
    margin-top: 16px;
    position: relative;
    width: 485px;
  }
  
  .rectangle-32 {
    height: 174px;
    left: 314px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .group-7322 {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 174px;
    left: 0;
    min-width: 485px;
    padding: 0 17px;
    position: absolute;
    top: 0;
  }
  
  .group-7321 {
    display: flex;
    width: 451px;
  }
  
  .group-7280 {
    display: flex;
    flex-direction: column;
    height: 76px;
    margin-left: 36px;
    width: 136px;
  }
  
  .corichain-1 {
    height: 31px;
    letter-spacing: 0;
    margin-top: 16px;
    width: 132px;
  }
  
  .chain {
    height: 29px;
    letter-spacing: 0;
    width: 63px;
  }
  
  .group-7279 {
    display: flex;
    flex-direction: column;
    height: 76px;
    margin-left: 31px;
    width: 118px;
  }
  
  .x602s {
    height: 31px;
    letter-spacing: 2.08px;
    margin-top: 16px;
    width: 71px;
  }
  
  .block-time {
    height: 29px;
    letter-spacing: 0;
    width: 114px;
  }
  
  .group-7278 {
    display: flex;
    flex-direction: column;
    height: 76px;
    width: 134px;
  }
  
  .latest-block {
    height: 29px;
    letter-spacing: 0;
    margin-left: 2px;
    width: 128px;
  }
  
  .phone-3 {
    height: 31px;
    letter-spacing: 2.08px;
    margin-top: 16px;
    width: 130px;
  }
  
  .rectangle-31 {
    height: 174px;
    left: 160px;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .top_-nav_-bar {
    display: flex;
    width: 1317px;
  }
  
  .nightmode-button {
    align-items: flex-start;
    display: flex;
    height: 64px;
    justify-content: center;
    margin-left: 16px;
    min-width: 64px;
  }
  
  .overlap-group-2 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626b0c710186986aa7979309/releases/626b1c24448193fbd470e5d0/img/ellipse-7@2x.png);
    background-size: 100% 100%;
    display: flex;
    height: 124px;
    justify-content: flex-end;
    margin-top: -23px;
    min-width: 124px;
    padding: 39px 46px;
  }
  
  .outline-general-moon {
    height: 31px;
    width: 31px;
  }
  
  .search-bar {
    background-color: var(--white);
    border-radius: 59px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 60px;
    margin-top: 2px;
    width: 932px;
  }
  
  .outline-interface-search {
    height: 35px;
    margin-left: 19px;
    margin-top: 12px;
    width: 35px;
  }
  
  .connect-wallet {
    background-color: var(--white);
    border-radius: 59px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 64px;
    margin-left: 16px;
    width: 289px;
  }
  
  .asset-6-2 {
    height: 35px;
    margin-left: 25.8px;
    margin-top: 14px;
    object-fit: cover;
    width: 36.56px;
  }
  
  .asset-7-2 {
    height: 25px;
    margin-left: 14.5px;
    margin-top: 19px;
    object-fit: cover;
    width: 56.1px;
  }
  
  .outline-media-shuffle {
    height: 53px;
    margin-left: 84.1px;
    margin-top: 5px;
    width: 53px;
  }
  
  .flex-row-6 {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 0px 7px 30px #0015da29;
    display: flex;
    height: 522px;
    margin-top: 44px;
    min-width: 1336px;
    padding: 26px 190px;
  }
  
  .flex-col-9 {
    align-items: center;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    min-height: 452px;
    width: 289px;
  }
  
  .solidbrands-container {
    align-items: flex-start;
    display: flex;
    margin-top: 64px;
    min-width: 289px;
  }
  
  .solid-brands-telegram {
    height: 24px;
    width: 24px;
  }
  
  .solid-brands {
    height: 24px;
    margin-left: 29px;
    width: 24px;
  }
  
  .climate-1 {
    height: 22px;
    letter-spacing: 0;
    margin-right: 48px;
    margin-top: 12px;
    min-width: 63px;
  }
  
  .eosadolor382gmailcom {
    color: var(--black-2);
    font-family: var(--font-family-urbanist);
    font-size: 15px;
    font-weight: 300;
    height: 18px;
    letter-spacing: 0;
    margin-right: 1px;
    margin-top: 64px;
    min-width: 170px;
  }
  
  .security-1 {
    height: 22px;
    letter-spacing: 0;
    margin-right: 44px;
    margin-top: 12px;
    min-width: 67px;
  }
  
  .place-5 {
    height: 22px;
    letter-spacing: 0;
    margin-right: 46px;
    margin-top: 12px;
    min-width: 65px;
  }
  
  .community {
    height: 24px;
    letter-spacing: 0;
    margin-right: 4px;
    margin-top: 64px;
    min-width: 107px;
  }
  
  .logo-3 {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-right: 2px;
    width: 31px;
  }
  
  .asset-8-1 {
    height: 5.51px;
    margin-left: 1.1px;
    margin-top: 5.6px;
    object-fit: cover;
    width: 27.9px;
  }
  
  .asset-6-2-1 {
    height: 19.29px;
    margin-left: 5.5px;
    margin-top: -0.1px;
    object-fit: cover;
    width: 19.98px;
  }
  
  .asset-7-2-1 {
    height: 13.78px;
    margin-top: 5.3px;
    object-fit: cover;
    width: 31px;
  }
  
  .about-1 {
    height: 22px;
    letter-spacing: 0;
    margin-right: 61px;
    margin-top: 20px;
    min-width: 50px;
  }
  
  .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 108.8px;
    margin-left: 100px;
    min-height: 134px;
    width: 134px;
  }
  
  .learn {
    height: 24px;
    letter-spacing: 0;
  }
  
  .staking-portal-1 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .node-monitoring-1 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .testnet-portal-1 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  
  .our-projects {
    height: 24px;
    letter-spacing: 0;
  }
  
  .testnet-portal {
    height: 22px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  
  .node-monitoring {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .staking-portal {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .flex-col-8 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 74.8px;
    min-height: 168px;
    width: 89px;
  }
  
  .place-4 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .about {
    height: 22px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  
  .climate {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .security {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .company {
    height: 24px;
    letter-spacing: 0;
  }
  
  .flex-col-10 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 74.8px;
    margin-left: 7px;
    min-height: 168px;
    width: 92px;
  }
  
  .climate-2 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .place-6 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .resources {
    height: 24px;
    letter-spacing: 0;
  }
  
  .security-2 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 12px;
  }
  
  .about-2 {
    height: 22px;
    letter-spacing: 0;
    margin-top: 20px;
  }
  
  .side-navigation {
    align-items: flex-end;
    display: flex;
    height: 1123px;
    min-width: 370px;
    position: fixed;
  }
  
  .overlap-group16 {
    align-items: flex-start;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/626b0c710186986aa7979309/releases/62707565254f6ba71f8a9b36/img/side-bar@1x.png);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: -55px;
    margin-left: -25px;
    min-height: 1193px;
    padding: 97px 84px;
    width: 410px;
    height: 100%;
    overflow: auto
  }
  
  .logo {
    display: flex;
    margin-left: 4px;
    width: 150px;
  }
  
  .coris-name {
    display: flex;
    flex-direction: column;
    height: 50px;
    margin-left: 16.1px;
    width: 82px;
  }
  
  .asset-5-1 {
    height: 9px;
    margin-left: 17.8px;
    margin-top: 5px;
    object-fit: cover;
    width: 46px;
  }
  
  .asset-4-1 {
    height: 36px;
    margin-left: -0.2px;
    object-fit: cover;
    width: 82px;
  }
  
  .logo-1 {
    height: 50px;
    margin-left: -0.1px;
    object-fit: cover;
    width: 51.83px;
  }
  
  .flex-row {
    align-items: flex-start;
    display: flex;
    height: 486px;
    margin-top: 185px;
    min-width: 205px;
  }
  
  .ellipse-5 {
    background-color: var(--coconut);
    border-radius: 6px;
    height: 12px;
    margin-left: 14px;
    margin-top: 13px;
    width: 12px;
  }
  
  .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 486px;
    width: 41px;
  }
  
  .icon-1 {
    height: 41px;
    margin-top: 69px;
    width: 40px;
  }
  
  .solid-general-chart-pie {
    height: 40px;
    margin-left: 1px;
    width: 40px;
  }
  
  .icon {
    height: 41px;
    margin-top: 71px;
    width: 40px;
  }
  
  .flex-col-item {
    height: 40px;
    margin-top: 72px;
    width: 40px;
  }
  
  .flex-col-2 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.8px;
    margin-left: 13px;
    min-height: 477px;
    width: 125px;
  }
  
  .validators {
    color: #a2a7d0;
    font-family: var(--font-family-urbanist);
    font-size: var(--font-size-xxl2);
    font-weight: 600;
    height: 29px;
    letter-spacing: 0;
    margin-top: 85px;
  }
  
  .blocks {
    height: 29px;
    letter-spacing: 0;
    margin-top: 83px;
  }
  
  .flex-col-item-1 {
    height: 29px;
    letter-spacing: 0;
    margin-top: 82px;
  }
  
  .overview {
    color: var(--coconut);
    font-family: var(--font-family-urbanist);
    font-size: var(--font-size-xxl2);
    font-weight: 600;
    height: 29px;
    letter-spacing: 0;
  }