.sidebar {
  align-items: flex-end;
  background-color: #f5f4ff;
  display: flex;
  flex-direction: column;
  height: 2422px;
  overflow: hidden;
  width: 1728px;
}

#screen {
  display: contents;
  text-decoration: none;
}

#body {
  background-color: red;
}